.container {
  overflow: hidden;
}

.container.scroll{
  height: 100vh;
}

.header-container {
  min-height: 510px;
  padding: 45px 100px 0;
  background-color: var(--color-blue);
  position: relative;
  overflow: hidden;
}

.heading-container {
  margin-top: 85px;
  width: 50vw;
}

.heading-container h1 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #fff;
}

.btn-container {
  display: flex;
  margin-right: 70px;
  margin-top: 70px;
}

.btn-container button {
  width: 100%;
  margin-right: 35px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 15px 0;
}

.join-btn {
  border: none;
  background-color: var(--color-orange);
}

.join-btn:hover {
  box-shadow: 0 0 10px -5px #fff;
}

.explore-btn {
  transition: all 500ms;
  background-color: transparent;
  border: 1px solid #fff;
}

.explore-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.header-background {
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: var(--color-light-blue);
  top: 0;
  right: 100px;
}

.header-background img {
  transform: scale(0.9) translateX(-70px);
}

.footer-container {
  padding: 35px 100px;
  height: 35%;
}

.footer-container h2 {
  color: var(--color-blue);
  margin-bottom: 20px;
  opacity: 0.6;
  text-transform: capitalize;
}

.universities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.universities div {
  border: 1px solid #dcddd5;
  height: 180px;
  width: 260px;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 1000px) {
  .heading-container h1 {
    position: relative;
    font-size: 2rem;
    z-index: 8;
  }
  
.btn-container {
  flex-direction: column;
  margin-right: 100px;
  margin-top: 70px;
}
.btn-container button {
  margin-bottom: 30px;
}
}


@media only screen and (max-width: 786px) {
  .header-container {
    padding: 40px 55px;
    position: static;
  }

  .heading-container {
    margin-top: 70px;
    width: auto;
  }

  .heading-container h1 {
    font-size: 1.75rem;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 0;
  }

  .explore-btn {
    margin-top: 30px;
  }

  .header-background {
    height: 240px;
    width: auto;
    margin-top: 90px;
    position: relative;
    inset: unset;
  }

  .header-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-27px) scale(0.5);
  }

  .footer-container {
    padding: 40px 55px;
  }

}
